@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: 'Montserrat', sans-serif;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fffffa;
}

#container1 {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10px;
  padding: 20px;
}

#subcontainer1 {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

#subcontainer1 h2 {
  font-size: 18px;
}

#subcontainer1 img {
  display: none;
}

footer {
  background-color: #0d5c63;
  color: #fff;
  padding: 30px;
  text-align: center;
  font-size: 18px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media only screen and (min-width: 35rem) {
}

@media only screen and (min-width: 64rem) {
}
